<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de compras</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'core/img/carrito_icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                Lista de compras
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto ml-auto text-center">
                    <a class="nav-item nav-link active" href="{% url 'home' %}">Inicio</a>
                    <a class="nav-item nav-link" href="#">Nosotros</a>
                    <a class="nav-item nav-link" href="#">Servicios</a>
                    <a class="nav-item nav-link" href="#">Contacto</a>
                    <a class="nav-item nav-link" href="#">Administrar Listas</a>
                </div>

                <div class="d-flex flex-row justify-content-center">
                    <a href="#" class="btn btn-outline-light mr-2">Registrate</a>
                    <a href="#" class="btn btn-outline-light">Login</a>
                </div>


            </div>
        </nav>
    </header>


    <div class="contenido">
    
        {% block contenido %}
    
        {% endblock contenido %}
    
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small fixed-bottom">

        <p class="text-center py-3 p-3 mb-2 bg-dark text-white">Desarrollo Web y Mobile</p>
 
    </footer>
    <!-- Footer -->
</body>

</html>