{% extends "core/base.html" %}

{% block contenido %}

<br>
    

    <div class="container">

        <h4>Crear Lista</h4>

        <form action="" method="POST" onsubmit="return validarLista();">
            {% csrf_token %}
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="txtnombre">Ingrese nombre de la lista:</label>
                    <input type="text" name="txtnombre" id="txtnombre" class="form-control" required> 
                </div>
            </div>

            <input type="submit" value="Agregar Lista" class="btn btn-primary">
        </form>

    </div>
    
<br>

    <div class="d-flex justify-content-center">
        {% if messages %}
        {% for m in messages %}
            <div>{{ m }}</div>
        {% endfor %}
        {% endif %}
    </div>


<br>
{% endblock contenido %}
