{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<br>

<div class="container">

    <h3 class="text-center">Formulario ingreso de producto</h3>
    <br>

    <form action="" method="POST" id="formularioproducto">
        {% csrf_token %}

        <input type="hidden" name="txtidlista" id="txtidlista" value="{{ li.id }}">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Nombre Producto:</label>
                <input type="text" name="txtnombre" id="txtnombre" class="form-control" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Costo Real:</label>
                <input type="number" name="txtreal" id="txtreal" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label for="">Costo Presupuestado:</label>
                <input type="number" name="txtpresu" id="txtpresu" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Tienda:</label>
                <select name="cbotienda" id="cbotienda" class="form-control">
                    <option value="">Seleccionar</option>
                    {% for t in ti %}
                    <option value="{{ t.id }}">{{ t.nombre }}</option>
                    {% endfor %}
                </select>
            </div>  

            <div class="form-group col-md-6">
                <label for="">Notas Adicionales:</label>
                <input type="text" name="txtnotas" id="txtnotas" class="form-control">
            </div>
        </div>
        <hr>
        <a href="{% url 'agregar_tienda' %}">Tu tienda no aparece en la lista?</a>
        <hr>

        <input type="submit" value="Ingresar Producto" class="btn btn-primary">

    </form>
</div>

<br>

<div class="d-flex justify-content-center">

    <h3>{{ mensaje }}</h3>

</div>

<br>

{% endblock contenido %}