{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<br>

<div class="container">

    <h3 class="text-center">Formulario de solicitud de tienda</h3>
    <br>

    <form action="" method="POST" id="formulariotienda" onsubmit="return validarTienda();">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="txtnombre">Nombre Tienda:</label>
                <input type="text" class="form-control" name="txtnombre" id="txtnombre" placeholder="Nombre de la tienda" required>
            </div>
            <div class="form-group col-md-6">
                <label for="txtnom_sucur">Nombre Sucursal:</label>
                <input type="text" class="form-control" name="txtnom_sucur" id="txtnom_sucur" placeholder="Nombre de la sucursal" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Dirección:</label>
            <input type="text" class="form-control" name="txtdireccion" id="txtdireccion" placeholder="Ubicacion de la tienda" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cboregion">Región:</label>
                <select class="form-control" name="cboregion" id="regiones" required >
                    <!-- <option value="">Seleccionar</option>
                    {% for r in regiones %}
                    <option value="{{ r.id }}">{{ r.id }}</option>
                    {% endfor %} -->
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="cbocomuna">Comuna:</label>
                <select name="cbocomuna" id="comunas" class="form-control" required>
                    <!-- <option value="">Seleccionar</option> -->

                </select>
            </div>
        </div>

        <input type="submit" value="Solicitar Tienda" class="btn btn-primary">

    </form>
</div>

<br>

<div class="d-flex justify-content-center">

    <h3>{{ mensaje }}</h3>

</div>

<br>

{% endblock contenido %}