{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<br>
<h1 class="text-center" width="mx-auto">Has tus listas de compras online!</h1>
<br>
<img class="rounded mx-auto d-block img-fluid" src="{% static 'core/img/imagen_compras.jpeg' %}" alt="imagen_compras">
<br>

<div class="d-flex flex-nowrap justify-content-center">
    <h5 class="order-1 p-2 font-weight-bold">Mira las tiendas actualmente aprobadas: </h1>
    <a class="order-2 p-2 btn btn-primary btn-sm font-weight-bold" href="{% url 'lista_tiendas' %}"> click aquí!</a>
</div>

<br>

{% endblock contenido %}