{% extends 'core/base.html' %}

{% block contenido %}

    <div class="container">
        
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolorum ex ducimus, autem eos nostrum iste illo velit. Illum laboriosam quis consequatur voluptas eos sit, deserunt quas atque nulla qui!
        Adipisci veritatis libero, impedit, numquam eveniet dolorum eaque error obcaecati dignissimos earum neque illum repellat excepturi iusto corporis, facere consequatur ullam. Et nobis nostrum magnam minus nihil, voluptatibus debitis animi.
        Culpa minima sunt ab similique cumque in neque molestiae dolore natus possimus voluptate ad assumenda officia, doloribus blanditiis quibusdam voluptatem? Autem dolorum assumenda officia laborum eum molestias eos quasi alias?
        Ullam quas vero impedit harum delectus alias odit, labore quasi sed consequuntur cumque deserunt eius, culpa porro id deleniti aspernatur repellat in repudiandae ex fuga quod veniam perferendis? Cumque, consectetur.
        Rem itaque deserunt sapiente perferendis quisquam incidunt aperiam illum iure saepe reiciendis dolores, sit, delectus labore ipsum vero eaque nihil, sint tenetur? Exercitationem impedit, eum similique quas laudantium rem fugiat!
        Nemo repellat modi et consectetur pariatur? Hic aliquam, deleniti nobis tenetur commodi enim. Temporibus repudiandae autem, ullam aliquid modi sit, accusantium magni eius placeat obcaecati dolorum sint velit blanditiis dicta.
        Doloribus dolorum tempore similique. Facere consequatur in, porro repellat similique maxime quaerat, iste, recusandae rerum sunt sequi ea ducimus. Ea in aut odit suscipit, explicabo omnis perspiciatis vero velit labore.
        Iste in eligendi expedita! Magni provident illum assumenda iusto quod saepe, velit excepturi architecto nam laudantium delectus consequatur iste sapiente? Consequatur non similique eveniet dicta blanditiis atque facere libero porro?
        Animi, dolorem est quibusdam fugiat maiores iste dolorum, voluptatum nostrum deserunt nobis quae. Necessitatibus laudantium similique doloremque? Impedit enim iusto assumenda, sunt itaque consequatur quidem, quae maxime unde neque quam.
        Cumque expedita fuga repellendus nisi minima omnis. Magni nam asperiores provident, amet et dicta culpa assumenda, accusamus illo repudiandae aliquid ab ex totam dolore deserunt dolorum fugit saepe quo nesciunt.

    </div>    


{% endblock contenido %}